:root {
    --color-cheto: rgb(67,25,91)
    linear-gradient(90deg, rgba(67,25,91,1) 5%, rgba(232,112,199,1) 51%, rgba(228,106,158,1) 84%);
    
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: rgba(151, 149, 149, 0.74);

    min-height: calc(100vh - 100px);
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
    color:white;
}

p {
    color:white;
}
a {
    color:white;
}